<!DOCTYPE html>
<html>
<head>
    <title>İklim Değişikliği 2023-2024,nedir,sorunları ve çözümleri.</title>
</head>
<body>
    <h1>2023 İklim Haritası</h1>
    <p>Bu 2023 Yılının İklim Haritası</p>
     <img src="./static/resimler/Ekran görüntüsü 2024-11-14 151713.png" alt="Image1">
     <h1>2024 İklim Haritası</h1>
     <p>2024ün İklim Haritası</p>
     <img src="./static/resimler/Ekran görüntüsü 2024-11-14 153136.png" alt="Image2">
     <title>Küresel Isınma Nedir,Nasıl Çözülür?</title>
     <h1>İklim Değişikliği Nedir?</h1>
     <h2>nedeni ne olursa olsun iklimin ortalama durumunda ve/ya da değişkenliğinde onlarca yıl ya da daha uzun süre boyunca gerçekleşen değişikliklere İklim Değişikliği denir.</h2>
     <h1>İklim Değişikliği Nasıl Çözülür?</h1>
     <h2>Yenilenebilir Enerjiye Geçiş: Fosil yakıtlardan güneş, rüzgar ve hidroelektrik gibi yenilenebilir enerji kaynaklarına geçiş, sera gazı emisyonlarını azaltır ve iklim değişikliğiyle mücadeleye yardımcı olur.</h2>
     <h1>Daha Fazla Bilgi İçin Bu Videoyu İzleyeniz:</h1>
     <iframe width="1475" height="375" src="https://www.youtube.com/embed/aGYjEyHBUTA" title="İklim Değişikliği Nedir?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>